/* Common for this website on mobile */
/* Containers */
.vertical-center-container {
    display: inline;
    justify-content: center;
}

/* Section & Cards */
.section {
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.section:hover { /* Disable hover shadow */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.card {
    width: 70%;
}
