/* Cards */
.card-container {
    display: inline;
    justify-content: center;
}

.card {
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.card:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

.card-tiny {
    width: 70%;
    padding: 16px;
    margin: 16px;
}
